{% extends 'base.html' %}
{% block title%} Add New Tag{% endblock %}
{% block content %}

<section class="container">
    <br />
    <h1> Create new tag</h1>
<form method="POST" action="/tags/new">
    <div class="field">
        <label class="label" for="title">Tag Name</label>
        <div class="control">
          <input class="input" type="text" id="name" name="name" placeholder="Enter a tag name">
        </div>
      </div>

      <div class="field">
          <div class="control">
              {% for post in posts %}
              <div>
            <label class="label" for="post_{{ post.id }}">
                {{ post.title }}
              </label>
          <input type="checkbox" name="posts" value="{{post.id}}" id="post_{{post.id}}">
       
        </div>
    {% endfor %} </div>
      </div>
      <div class="control">
        <a href="/tags" class="button is-info">Cancel</a>
        <button type="submit" class="button is-link">Add</button>
      </div>
    </form>
</section>
{% endblock %}