<html>
    <head>
        <title>User registration</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.0/css/bulma.min.css">
      
    </head>
    <body>
             <section class="container" id="main">
            <form action="/" method="post">
                <div class="field">
                    <label class="label" for="convert_from">Convert from</label>
                    <div class="control">
                      <input class="input" type="text" name="convert_from" maxlength="3" placeholder="from">
                    </div>
                  </div>

                  <div class="field">
                    <label class="label" for="convert_to">Convert to</label>
                    <div class="control">
                      <input class="input" type="text" name="convert_to" maxlength="3" placeholder="to">
                    </div>
                  </div>
                  <div class="field">
                    <label class="label" for="amount">Amount</label>
                    <div class="control">
                      <input class="input" type="text" name="amount" placeholder="Amount">
                    </div>
                  </div>

                  <div class="control">
                    <button class="button is-link">Convert</button>
                  </div>
                </form>
           </section> 
    </body>
</html>